body {
    background-color: #222;
    color:white;
}

p {
    color: #cbd6ec;
    font-family: sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.header-p {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
}

.description-p {
    margin-top: 12px;

    max-width: 600px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn-icon {
    vertical-align: middle;
    display: inline-block;
    width: 21px;
    margin-left: 4px;
}

.marginTopL {
    margin-top: 48px;
    margin-bottom: 48px;

}

.info-section {
    margin-top: 32px;
    margin-bottom: 64px;
}

.first-info {
    margin-top: 104px;
}


.filled-btn {
    text-decoration: none;
    border: 2px solid #3884ff;
    border-radius: 4px;
    background-color: #3884ff;
    font-family: sans-serif;
    color: #fff;
    font-weight: 700;
    letter-spacing: .4px;
    transition: .2s;
    line-height: 22px;
}

.btnL {
    padding: 16px 24px;
    font-size: 18px;
}

.btnS {
    padding: 10px 16px 10px 20px;
    font-size: 16px;
}

.filled-btn:hover {
    background-color: transparent;
    color: #fff;
}

h1 {
    font-family: "Arial Black", Arial;
    font-size: 44px;
}

#container {
    margin-left: auto;
    margin-right: auto;
}

#pageContent {
    margin-left: auto;
    margin-top:32px;
    margin-right: auto;
}

nav.navbar {
    --bs-bg-opacity: 1;
    background-color: #222222;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.nav-item .nav-link {
    margin-right: 2px;
    margin-left: 2px;

}

.logo {
    transform: translateY(-1px);
    margin-right: 4px;
}

.navbar-brand {
    font-family: "Arial Black", Arial;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.screenshot {
    border-radius: 10px;
}

.btn {
    text-decoration: none;
}